.activity {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;
}

.activity__title {
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
}

.activity-list__card {
  position: relative;
}

.activity-list__item {
  width: 370px;
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.activity-list__background-text {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.activity-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
