.footer {
  background-color: var(--second-background-color);
  padding: 60px 0;
}

// .footer__container {
//   display: flex;
//   align-items: baseline;
// }

.footer__adress {
  margin-right: 70px;
}

.adress__logo {
  margin-bottom: 20px;
}

.adress__contacts-list {
  width: 231px;
  margin-right: auto;
}

.adress-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress-list__link--color-white {
  color: #ffffff;
}

.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}

.footer__title--letter-spacing {
  letter-spacing: 0.04em;
}

.footer__social {
  width: 206px;
  height: 80px;
}

.social-list__link--background-color-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon--fill-white {
  fill: #ffffff;
}

.footer__subscription {
  margin-left: 93px;
}

// .subscription__box {
//   display: flex;
//   justify-content: flex-end;
// }

.field__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 15px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:-webkit-autofill {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--footer-text-color) !important;
    background-clip: text;
  }
}

.subscription__button {
  margin-left: 12px;
}

.button__submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  margin-left: 10px;
}
