:root {
  --background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-backgroud-color: #f5f4fa;
  --logo-text-color: #2196f3;
  --logo-text-color-first: #000000;
  --logo-text-color-second: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-btn-color: #2196f3;
  --text-btn-color: #ffffff;
  --header-text-color: #212121;
  --portfolio-btn-text-color: #212121;
  --portfolio-btn-background-color: #f5f4fa;
  --portfolio-btn-accent-text-color: #ffffff;
  --portfolio-btn-accent-background-color: #2196f3;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --footer-text-color: #ffffff;
}
